<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Lab 3.02: Statistical Modeling and Model Validation

> Authors: Tim Book, Matt Brems

---

## Objective
The goal of this lab is to guide you through the modeling workflow to produce the best model you can. In this lesson, you will follow all best practices when slicing your data and validating your model.

## Imports

In [1]:
# Import everything you need here.
# You may want to return to this cell to import more things later in the lab.
# DO NOT COPY AND PASTE FROM OUR CLASS SLIDES!
# Muscle memory is important!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression#, LassoCV, RidgeCV
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn import metrics

## Read Data
The `citibike` dataset consists of Citi Bike ridership data for over 224,000 rides in February 2014.

In [2]:
# Read in the citibike data in the data folder in this repository.
bike_df = pd.read_csv('./data/citibike_feb2014.csv')
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

## Explore the data
Use this space to familiarize yourself with the data.

Convince yourself there are no issues with the data. If you find any issues, clean them here.

In [3]:
#reading out columns
bike_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [4]:
#displaying info and getting an idea of null counts
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224736 entries, 0 to 224735
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             224736 non-null  int64
 1   starttime                224736 non-null  object
 2   stoptime                 224736 non-null  object
 3   start station id         224736 non-null  int64
 4   start station name       224736 non-null  object
 5   start station latitude   224736 non-null  float64
 6   start station longitude  224736 non-null  float64
 7   end station id           224736 non-null  int64
 8   end station name         224736 non-null  object
 9   end station latitude     224736 non-null  float64
 10  end station longitude    224736 non-null  float64
 11  bikeid                   224736 non-null  int64
 12  usertype                 224736 non-null  object
 13  birth year               224736 non-null  object
 14  gender                   224736 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 25.7+ MB

In [5]:
#locating all columns in bike_df where the dtype is object
bike_df.loc[:, bike_df.dtypes == 'object']

#'birth year' should not be dtype object

,starttime,stoptime,start station name,end station name,usertype,birth year
0,2014-02-01 00:00:00,2014-02-01 00:06:22,Washington Square E,Stanton St & Chrystie St,Subscriber,1991
1,2014-02-01 00:00:03,2014-02-01 00:06:15,Broadway & E 14 St,E 4 St & 2 Ave,Subscriber,1979
2,2014-02-01 00:00:09,2014-02-01 00:10:00,Perry St & Bleecker St,Mott St & Prince St,Subscriber,1948
3,2014-02-01 00:00:32,2014-02-01 00:10:15,E 11 St & Broadway,Greenwich Ave & 8 Ave,Subscriber,1981
4,2014-02-01 00:00:41,2014-02-01 00:04:24,Allen St & Rivington St,E 4 St & 2 Ave,Subscriber,1990
...,...,...,...,...,...,...
224731,2014-02-28 23:57:13,2014-03-01 00:11:21,Broadway & W 32 St,E 7 St & Avenue A,Subscriber,1976
224732,2014-02-28 23:57:55,2014-03-01 00:20:30,W 20 St & 8 Ave,Avenue D & E 3 St,Subscriber,1985
224733,2014-02-28 23:58:17,2014-03-01 00:03:21,E 17 St & Broadway,W 20 St & 7 Ave,Subscriber,1968
224734,2014-02-28 23:59:10,2014-03-01 00:04:18,S Portland Ave & Hanson Pl,Fulton St & Grand Ave,Subscriber,1982
224735,2014-02-28 23:59:47,2014-03-01 00:09:50,MacDougal St & Washington Sq,E 16 St & Irving Pl,Subscriber,1960

In [6]:
#checking 'birth year values'
bike_df['birth year'].sort_values()

220029    1899
25042     1899
125527    1899
177826    1899
124361    1899
          ...
20792       \N
150054      \N
125890      \N
20757       \N
161082      \N
Name: birth year, Length: 224736, dtype: object

In [7]:
bike_df.groupby(['birth year']).size()
#lots of odd '\N' entries

birth year
1899       9
1900      68
1901      11
1907       5
1910       4
        ...
1994    1215
1995     827
1996     334
1997     251
\N      6717
Length: 78, dtype: int64

In [8]:
#dropping the entries where 'birth year' is \N to calculate the median for birth year
bike_df_just_N = bike_df[bike_df['birth year'] == '\\N']
bike_df_for_median = bike_df.drop(bike_df_just_N.index, axis=0)

In [9]:
bike_df_just_N.head()
#these rows also had gender = 0 so it was probably best to drop them

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
31,664,2014-02-01 00:08:47,2014-02-01 00:19:51,237,E 11 St & 2 Ave,40.730473,-73.986724,349,Rivington St & Ridge St,40.718502,-73.983299,17540,Customer,\N,0
55,836,2014-02-01 00:16:10,2014-02-01 00:30:06,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,16731,Customer,\N,0
222,1277,2014-02-01 01:17:50,2014-02-01 01:39:07,469,Broadway & W 53 St,40.763441,-73.982681,336,Sullivan St & Washington Sq,40.730477,-73.999061,20728,Customer,\N,0
266,29906,2014-02-01 01:44:59,2014-02-01 10:03:25,294,Washington Square E,40.730494,-73.995721,368,Carmine St & 6 Ave,40.730386,-74.002150,18944,Customer,\N,0
293,2625,2014-02-01 01:56:32,2014-02-01 02:40:17,395,Bond St & Schermerhorn St,40.688070,-73.984106,395,Bond St & Schermerhorn St,40.688070,-73.984106,19782,Customer,\N,0

In [10]:
bike_df_for_median.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

In [11]:
#calculating the median
bike_df_for_median['birth year'].median()

1978.0

In [12]:
#replacing the 'birth year' colums where values = \N with the median, 1978
bike_df[['birth year']] = bike_df[['birth year']].replace('\\N', 1978)

In [13]:
#dtype is objects again
bike_df['birth year'].dtypes

dtype('O')

In [14]:
#casting back 'birth year' dtype to int64
bike_df = bike_df.astype({'birth year': 'int64'})

In [15]:
#confirming above cell worked
bike_df['birth year'].dtypes

dtype('int64')

In [16]:
#checking 'birth year' values after cleaning
bike_df['birth year'].sort_values()

25042     1899
219784    1899
220029    1899
211832    1899
177826    1899
          ...
26675     1997
209730    1997
83123     1997
14114     1997
186995    1997
Name: birth year, Length: 224736, dtype: int64

In [17]:
#displaying 'usertype' value counts
bike_df['usertype'].value_counts()

Subscriber    218019
Customer        6717
Name: usertype, dtype: int64

In [18]:
#displaying 'end station name' value counts
bike_df['end station name'].value_counts()

Lafayette St & E 8 St     2622
W 21 St & 6 Ave           2453
Pershing Square N         2419
E 17 St & Broadway        2320
8 Ave & W 31 St           2205
                          ...
W 13 St & 5 Ave             54
Concord St & Bridge St      51
Bedford Ave & S 9th St      43
Railroad Ave & Kay Ave      32
Church St & Leonard St       6
Name: end station name, Length: 329, dtype: int64

In [19]:
#displaying 'start station name' value counts
bike_df['start station name'].value_counts()

Lafayette St & E 8 St         2920
Pershing Square N             2719
E 17 St & Broadway            2493
W 21 St & 6 Ave               2403
8 Ave & W 31 St               2171
                              ...
Hanover Pl & Livingston St      54
Concord St & Bridge St          45
Bedford Ave & S 9th St          41
Railroad Ave & Kay Ave          36
Church St & Leonard St           4
Name: start station name, Length: 329, dtype: int64

## Is average trip duration different by gender?

Conduct a hypothesis test that checks whether or not the average trip duration is different for `gender=1` and `gender=2`. Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly!

In [20]:
bike_df = pd.get_dummies(bike_df, columns = ['gender'], drop_first = True)

In [21]:
bike_df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender_1,gender_2
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1,0
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,0,1
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,0,1

Our null hypothese will be that gender 1 has a different average trip duration than gender 2. Our alternative hypothesis is that gender has no impact on average trip duration.

In [61]:
#https://towardsdatascience.com/hypothesis-testing-in-machine-learning-using-python-a0dc89e169ce
from scipy.stats import ttest_1samp

gender = bike_df['gender_1']
trip_duration_mean = np.mean(bike_df['tripduration'])

tset, pval = ttest_1samp(gender, 30)
print('p-values:', round(pval))
if pval < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

p-values: 0
we are rejecting null hypothesis

## What numeric columns shouldn't be treated as numeric?

**Answer:** start station id, end station id, and bikeid

## Dummify the `start station id` Variable

In [22]:
bike_df = pd.get_dummies(bike_df, columns = ['start station id'], drop_first = True)

In [23]:
bike_df.head(3)

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,start station id_2006,start station id_2008,start station id_2009,start station id_2010,start station id_2012,start station id_2017,start station id_2021,start station id_2022,start station id_2023,start station id_3002
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,...,0,0,0,0,0,0,0,0,0,0
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,...,0,0,0,0,0,0,0,0,0,0
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,...,0,0,0,0,0,0,0,0,0,0

In [24]:
#bike_df = pd.get_dummies(bike_df, columns = ['end station id'], drop_first = True)

In [25]:
#bike_df.head(3)

In [26]:
#bike_df = pd.get_dummies(bike_df, columns = ['bikeid'], drop_first = True)

In [38]:
#also getting dummies for usertype
bike_df = pd.get_dummies(bike_df, columns = ['usertype'], drop_first = True)

## Engineer a feature called `age` that shares how old the person would have been in 2014 (at the time the data was collected).

- Note: you will need to clean the data a bit.

In [39]:
#I cleaned the data above and set '\N' entries to be the median birthyear, 1978
bike_df['age'] = 2014 - bike_df['birth year']
bike_df['age']

0         23
1         35
2         66
3         33
4         24
          ..
224731    38
224732    29
224733    46
224734    32
224735    54
Name: age, Length: 224736, dtype: int64

## Split your data into train/test data

Look at the size of your data. What is a good proportion for your split? **Justify your answer.**

Use the `tripduration` column as your `y` variable.

For your `X` variables, use `age`, `usertype`, `gender`, and the dummy variables you created from `start station id`. (Hint: You may find the Pandas `.drop()` method helpful here.)

**NOTE:** When doing your train/test split, please use random seed 123.

**Answering:** Look at the size of your data. What is a good proportion for your split? Justify your answer.
- Due to the size of our dataset, it doesn't really matter where we set our train test split, either 80/20 or 90/10. In general, if there is less training data, the coefficients will have have greater variance, whereas, if you have less testing data, your predictions will have greater variance.

In [29]:
#NOTE TO SELF, SET THIS IN IMPORTS WHEN WORKING WITH PANDAS AND YOU WANT TO SEE ALL COLUMNS

#https://datascienceparichay.com/article/show-all-columns-of-pandas-dataframe-in-jupyter-notebook/
#pd.set_option("display.max_columns", None)

In [40]:
bike_df.head(3)

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,start station id_2009,start station id_2010,start station id_2012,start station id_2017,start station id_2021,start station id_2022,start station id_2023,start station id_3002,age,usertype_Subscriber
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,...,0,0,0,0,0,0,0,0,23,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,...,0,0,0,0,0,0,0,0,35,1
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,...,0,0,0,0,0,0,0,0,66,1

In [41]:
#For your `X` variables, use `age`, `usertype`, `gender`,
#and the dummy variables you created from `start station id`. 
#(Hint: You may find the Pandas `.drop()` method helpful here.)

X = bike_df.drop(columns = ['tripduration', 'starttime', 'stoptime',
                            'start station name', 'start station latitude', 'start station longitude',
                            'end station id', 'end station name', 'end station latitude',
                            'end station longitude'])

y = bike_df[['tripduration']]

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.2, 
                                                    train_size = 0.8, 
                                                    random_state = 123)

## Fit a Linear Regression model in `sklearn` predicting `tripduration`.

In [43]:
model = LinearRegression()

model.fit(X_train, y_train)

In [44]:
model.score(X_train, y_train)

0.004628580392993298

In [45]:
model.score(X_test, y_test)

-0.0016908789975988991

In [35]:
#sc = StandardScaler()

#X_train_sc = sc.fit_transform(X_train)
#X_test_sc = sc.transform(X_test)

## Evaluate your model
Look at some evaluation metrics for **both** the training and test data. 
- How did your model do? Is it overfit, underfit, or neither?
- Does this model outperform the baseline? (e.g. setting $\hat{y}$ to be the mean of our training `y` values.)

**Answer:** This is a terrible model, it's almost as if there's no correlation between age, usertype, gender, and 'start station id' dummies and the target 'tripduration'. This makes sense because tripduration would be based off of something like the start/stop cartesian coordinates or 'start station id' and 'stop station id'.

## Fit a Linear Regression model in `statsmodels` predicting `tripduration`.

In [47]:
#https://www.statsmodels.org/stable/regression.html
import statsmodels.api as sm

In [52]:
#https://www.statsmodels.org/devel/examples/notebooks/generated/ols.html
#fitting OLS model
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           tripduration   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.655
Date:                Mon, 18 Oct 2021   Prob (F-statistic):           2.23e-51
Time:                        18:48:08   Log-Likelihood:            -2.2534e+06
No. Observations:              224736   AIC:                         4.507e+06
Df Residuals:                  224402   BIC:                         4.511e+06
Df Model:                         333
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
bikeid                   -0.0041      0.006     -0.699      0.484      -0.015       0.007
birth year                0.8417      0.123      6.865      0.000       0.601       1.082
gender_1                516.4988   1468.552      0.352      0.725   -2361.825    3394.823
gender_2                695.9405   1468.748      0.474      0.636   -2182.768    3574.649
start station id_79      29.2154    303.205      0.096      0.923    -565.059     623.490
start station id_82     258.7617    381.922      0.678      0.498    -489.797    1007.320
start station id_83     -63.9089    379.688     -0.168      0.866    -808.088     680.270
start station id_116   -329.9094    257.847     -1.279      0.201    -835.282     175.463
start station id_119   -298.2546    755.779     -0.395      0.693   -1779.562    1183.053
start station id_120    778.2730    608.915      1.278      0.201    -415.184    1971.730
start station id_127   -267.3261    271.822     -0.983      0.325    -800.090     265.438
start station id_128   -293.5630    265.015     -1.108      0.268    -812.986     225.860
start station id_137   -245.2039    321.749     -0.762      0.446    -875.823     385.415
start station id_143   -273.3935    455.629     -0.600      0.548   -1166.414     619.627
start station id_144    -72.8673    617.889     -0.118      0.906   -1283.915    1138.180
start station id_146   -397.5294    317.912     -1.250      0.211   -1020.628     225.569
start station id_147    -69.2790    276.869     -0.250      0.802    -611.935     473.377
start station id_150     98.1974    314.843      0.312      0.755    -518.888     715.282
start station id_151   -315.8085    247.276     -1.277      0.202    -800.463     168.845
start station id_152   -347.1924    348.996     -0.995      0.320   -1031.215     336.831
start station id_153   -269.5270    270.163     -0.998      0.318    -799.039     259.985
start station id_157    109.7850    373.407      0.294      0.769    -622.083     841.653
start station id_160   -124.1167    303.074     -0.410      0.682    -718.134     469.901
start station id_161   -355.6690    263.487     -1.350      0.177    -872.097     160.759
start station id_164   -211.5159    301.025     -0.703      0.482    -801.517     378.485
start station id_167   -221.0873    275.248     -0.803      0.422    -760.565     318.391
start station id_168   -271.6256    257.917     -1.053      0.292    -777.137     233.885
start station id_173   -310.4036    274.946     -1.129      0.259    -849.292     228.485
start station id_174    304.5850    286.695      1.062      0.288    -257.330     866.500
start station id_195    303.6688    294.151      1.032      0.302    -272.860     880.198
start station id_212   -228.7687    272.294     -0.840      0.401    -762.459     304.921
start station id_216   -170.6221    679.283     -0.251      0.802   -1501.999    1160.755
start station id_217    -80.8264    493.782     -0.164      0.870   -1048.627     886.974
start station id_218    255.0888    662.921      0.385      0.700   -1044.220    1554.398
start station id_223   -145.6772    279.765     -0.521      0.603    -694.009     402.655
start station id_224   -308.5138    321.746     -0.959      0.338    -939.128     322.100
start station id_225    -47.9826    359.847     -0.133      0.894    -753.274     657.309
start station id_228   -151.3780    300.778     -0.503      0.615    -740.894     438.138
start station id_229   -252.7838    254.626     -0.993      0.321    -751.845     246.277
start station id_232   -136.1771    563.359     -0.242      0.809   -1240.347     967.993
start station id_233    336.0864    323.968      1.037      0.300    -298.884     971.056
start station id_236   -333.0904    264.460     -1.260      0.208    -851.425     185.244
start station id_237   -297.5183    269.257     -1.105      0.269    -825.255     230.218
start station id_238     23.9953    311.653      0.077      0.939    -586.836     634.826
start station id_239   -518.6951    390.928     -1.327      0.185   -1284.904     247.514
start station id_241   -422.9206    491.920     -0.860      0.390   -1387.072     541.230
start station id_242   -123.5314    662.957     -0.186      0.852   -1422.909    1175.847
start station id_243   -374.5976    617.872     -0.606      0.544   -1585.611     836.415
start station id_244   1241.4221    405.648      3.060      0.002     446.361    2036.483
start station id_245   -400.7609    587.094     -0.683      0.495   -1551.449     749.927
start station id_247   -300.3539    304.977     -0.985      0.325    -898.101     297.393
start station id_248   -285.4473    421.052     -0.678      0.498   -1110.698     539.804
start station id_249     54.2603    339.948      0.160      0.873    -612.029     720.550
start station id_250   -388.6157    361.189     -1.076      0.282   -1096.537     319.306
start station id_251   -316.1067    277.659     -1.138      0.255    -860.312     228.099
start station id_252    511.8916    301.364      1.699      0.089     -78.775    1102.558
start station id_253   -199.1778    692.523     -0.288      0.774   -1556.505    1158.150
start station id_254   -297.4143    294.469     -1.010      0.312    -874.565     279.737
start station id_257   -292.8765    298.715     -0.980      0.327    -878.349     292.596
start station id_258   -156.9571    485.466     -0.323      0.746   -1108.458     794.544
start station id_259    141.1254    405.053      0.348      0.728    -652.767     935.018
start station id_260    552.2388    369.479      1.495      0.135    -171.931    1276.409
start station id_261   -208.3615    411.131     -0.507      0.612   -1014.167     597.444
start station id_262    -36.1902    513.405     -0.070      0.944   -1042.451     970.070
start station id_263   -212.2406    276.729     -0.767      0.443    -754.623     330.142
start station id_264   -357.5273    289.894     -1.233      0.217    -925.711     210.657
start station id_265   -348.5270    290.512     -1.200      0.230    -917.923     220.869
start station id_266   -125.7284    387.491     -0.324      0.746    -885.201     633.745
start station id_267   -202.6974    343.258     -0.591      0.555    -875.475     470.080
start station id_268   -344.1698    294.967     -1.167      0.243    -922.298     233.958
start station id_270   -468.1990    345.429     -1.355      0.175   -1145.230     208.832
start station id_271   -131.4504    315.780     -0.416      0.677    -750.370     487.469
start station id_274   2193.7294    434.481      5.049      0.000    1342.157    3045.302
start station id_275   -386.6982    510.318     -0.758      0.449   -1386.909     613.513
start station id_276    500.2248    351.932      1.421      0.155    -189.552    1190.002
start station id_278    -80.9785    843.613     -0.096      0.924   -1734.439    1572.482
start station id_279    -97.1188    514.956     -0.189      0.850   -1106.419     912.181
start station id_280   -279.9480    286.058     -0.979      0.328    -840.614     280.718
start station id_281    857.6410    287.008      2.988      0.003     295.113    1420.169
start station id_282    587.9865    515.012      1.142      0.254    -421.425    1597.398
start station id_284   -135.6362    253.863     -0.534      0.593    -633.201     361.928
start station id_285   -379.0995    247.279     -1.533      0.125    -863.759     105.560
start station id_289   -266.3994    603.196     -0.442      0.659   -1448.649     915.850
start station id_290    -90.3698    315.939     -0.286      0.775    -709.602     528.862
start station id_291    107.9652    340.205      0.317      0.751    -558.829     774.759
start station id_293   -332.3071    233.895     -1.421      0.155    -790.736     126.122
start station id_294    422.5151    291.197      1.451      0.147    -148.224     993.254
start station id_295   -294.4221    304.628     -0.966      0.334    -891.485     302.641
start station id_296    101.6536    301.390      0.337      0.736    -489.063     692.370
start station id_297   -302.5805    266.066     -1.137      0.255    -824.062     218.901
start station id_298   -435.6459    617.885     -0.705      0.481   -1646.685     775.394
start station id_300   -312.8796    275.346     -1.136      0.256    -852.551     226.792
start station id_301   -231.5810    267.045     -0.867      0.386    -754.981     291.819
start station id_302    -47.5922    332.529     -0.143      0.886    -699.341     604.156
start station id_303   -275.4264    303.316     -0.908      0.364    -869.918     319.065
start station id_304     92.0610    321.381      0.286      0.775    -537.838     721.960
start station id_305      7.2465    285.617      0.025      0.980    -552.556     567.049
start station id_306   -270.6221    288.122     -0.939      0.348    -835.333     294.089
start station id_307   -113.7789    273.815     -0.416      0.678    -650.450     422.893
start station id_308    -84.1654    324.543     -0.259      0.795    -720.261     551.930
start station id_309   -308.6307    322.503     -0.957      0.339    -940.728     323.466
start station id_310      7.2895    351.631      0.021      0.983    -681.898     696.477
start station id_311   -437.3506    300.798     -1.454      0.146   -1026.907     152.206
start station id_312   -236.6319    267.733     -0.884      0.377    -761.382     288.118
start station id_313    158.7448    405.647      0.391      0.696    -636.314     953.803
start station id_314   1474.6322    466.873      3.159      0.002     559.573    2389.692
start station id_315    375.0899    376.691      0.996      0.319    -363.215    1113.395
start station id_316   -141.7045    317.762     -0.446      0.656    -764.510     481.101
start station id_317   -256.1164    269.020     -0.952      0.341    -783.389     271.156
start station id_318   -305.8804    249.451     -1.226      0.220    -794.799     183.038
start station id_319     59.5289    298.825      0.199      0.842    -526.161     645.219
start station id_320   -234.4218   2747.793     -0.085      0.932   -5620.026    5151.183
start station id_322   -372.6551    488.019     -0.764      0.445   -1329.159     583.849
start station id_323   -190.9185    259.912     -0.735      0.463    -700.338     318.501
start station id_324   -353.0121    359.516     -0.982      0.326   -1057.654     351.630
start station id_325   -266.1182    282.779     -0.941      0.347    -820.357     288.121
start station id_326   -219.5695    265.161     -0.828      0.408    -739.279     300.140
start station id_327    -28.6524    292.489     -0.098      0.922    -601.924     544.619
start station id_328   -204.5449    326.672     -0.626      0.531    -844.813     435.723
start station id_329   -338.8817    280.388     -1.209      0.227    -888.436     210.672
start station id_330   -353.3827    310.900     -1.137      0.256    -962.739     255.974
start station id_331   -181.3172    379.263     -0.478      0.633    -924.663     562.028
start station id_332     42.8699    407.425      0.105      0.916    -755.673     841.413
start station id_334   -266.6545    271.836     -0.981      0.327    -799.446     266.137
start station id_335   -330.5871    263.927     -1.253      0.210    -847.877     186.703
start station id_336   -234.0118    284.160     -0.824      0.410    -790.957     322.934
start station id_337   -123.5165    344.578     -0.358      0.720    -798.880     551.848
start station id_339    -86.0276    640.766     -0.134      0.893   -1341.913    1169.858
start station id_340   -293.2192    334.538     -0.876      0.381    -948.906     362.467
start station id_341   -157.1943    368.791     -0.426      0.670    -880.016     565.627
start station id_342   -162.0336    328.371     -0.493      0.622    -805.633     481.566
start station id_343   1418.4749    518.218      2.737      0.006     402.782    2434.168
start station id_344   -343.1672    443.688     -0.773      0.439   -1212.785     526.451
start station id_345   -279.1227    256.889     -1.087      0.277    -782.619     224.373
start station id_346   -164.5635    290.445     -0.567      0.571    -733.828     404.701
start station id_347    -87.5102    266.038     -0.329      0.742    -608.937     433.917
start station id_348   -151.2820    289.695     -0.522      0.602    -719.076     416.512
start station id_349     10.3397    347.325      0.030      0.976    -670.409     691.089
start station id_350   -160.6657    333.164     -0.482      0.630    -813.658     492.326
start station id_351    179.0882    383.719      0.467      0.641    -572.991     931.167
start station id_352    -93.0475    290.968     -0.320      0.749    -663.337     477.242
start station id_353   5590.9748    528.188     10.585      0.000    4555.739    6626.210
start station id_354   2628.2096    482.979      5.442      0.000    1681.584    3574.835
start station id_355   -131.9194    288.926     -0.457      0.648    -698.207     434.368
start station id_356   -134.0075    338.780     -0.396      0.692    -798.008     529.993
start station id_357   -386.6375    296.857     -1.302      0.193    -968.469     195.194
start station id_358    319.8944    253.835      1.260      0.208    -177.616     817.404
start station id_359   -182.8629    284.685     -0.642      0.521    -740.838     375.113
start station id_360    320.8583    321.022      0.999      0.318    -308.336     950.053
start station id_361   -174.9062    277.359     -0.631      0.528    -718.524     368.711
start station id_362   -348.6907    339.702     -1.026      0.305   -1014.497     317.116
start station id_363    245.0913    298.960      0.820      0.412    -340.862     831.045
start station id_364   -183.2712    434.498     -0.422      0.673   -1034.877     668.335
start station id_365    458.9078    444.555      1.032      0.302    -412.409    1330.224
start station id_366   -381.4880    348.515     -1.095      0.274   -1064.569     301.593
start station id_367    336.2070    324.732      1.035      0.301    -300.260     972.674
start station id_368    381.8643    260.603      1.465      0.143    -128.911     892.640
start station id_369   -406.7537    303.210     -1.341      0.180   -1001.038     187.531
start station id_372   -223.7587    755.790     -0.296      0.767   -1705.088    1257.570
start station id_373     40.3000    481.741      0.084      0.933    -903.901     984.501
start station id_375     25.0162    261.075      0.096      0.924    -486.685     536.717
start station id_376   -222.8354    308.298     -0.723      0.470    -827.092     381.421
start station id_377   -209.2033    311.890     -0.671      0.502    -820.501     402.094
start station id_379   -274.0116    252.879     -1.084      0.279    -769.647     221.624
start station id_380     99.8221    261.502      0.382      0.703    -412.714     612.359
start station id_382   -340.2754    247.037     -1.377      0.168    -824.462     143.912
start station id_383   -363.9612    329.502     -1.105      0.269   -1009.776     281.853
start station id_384    256.6482    386.070      0.665      0.506    -500.040    1013.336
start station id_385   -153.1272    335.646     -0.456      0.648    -810.984     504.730
start station id_386   -183.9635    325.878     -0.565      0.572    -822.677     454.750
start station id_387     12.1736    284.177      0.043      0.966    -544.807     569.154
start station id_388   -235.9495    275.142     -0.858      0.391    -775.220     303.321
start station id_389    819.4691    531.733      1.541      0.123    -222.714    1861.652
start station id_390   -186.7975    463.714     -0.403      0.687   -1095.665     722.070
start station id_391    -97.7709    384.642     -0.254      0.799    -851.660     656.118
start station id_392     96.0588    412.378      0.233      0.816    -712.192     904.310
start station id_393   -148.5981    304.102     -0.489      0.625    -744.630     447.434
start station id_394    -39.2731    280.825     -0.140      0.889    -589.684     511.137
start station id_395    175.8563    390.913      0.450      0.653    -590.323     942.036
start station id_396      3.0330    473.543      0.006      0.995    -925.100     931.166
start station id_397   -228.4073    524.759     -0.435      0.663   -1256.922     800.107
start station id_398     13.0645    449.273      0.029      0.977    -867.498     893.627
start station id_399   -256.4116    428.290     -0.599      0.549   -1095.849     583.026
start station id_400   -132.7264    418.283     -0.317      0.751    -952.550     687.097
start station id_401   -273.3601    264.358     -1.034      0.301    -791.494     244.774
start station id_402   -308.8121    249.293     -1.239      0.215    -797.419     179.795
start station id_403   -317.9430    280.185     -1.135      0.256    -867.098     231.212
start station id_404   -174.6515    283.883     -0.615      0.538    -731.056     381.752
start station id_405    -36.2298    289.175     -0.125      0.900    -603.005     530.545
start station id_406   -346.7596    406.206     -0.854      0.393   -1142.914     449.394
start station id_407    112.2993    500.085      0.225      0.822    -867.855    1092.453
start station id_408   -118.5560    418.964     -0.283      0.777    -939.714     702.602
start station id_409   -107.2978    505.831     -0.212      0.832   -1098.715     884.119
start station id_410   -269.2886    272.053     -0.990      0.322    -802.506     263.929
start station id_411   -200.4975    358.172     -0.560      0.576    -902.505     501.510
start station id_412   -246.1577    306.012     -0.804      0.421    -845.933     353.618
start station id_414    131.7522    457.584      0.288      0.773    -765.101    1028.605
start station id_415      0.0086    330.344    2.6e-05      1.000    -647.457     647.474
start station id_416    920.9585    381.016      2.417      0.016     174.176    1667.741
start station id_417   -211.0159    264.198     -0.799      0.424    -728.837     306.805
start station id_418   -312.3762    761.943     -0.410      0.682   -1805.765    1181.013
start station id_419    244.9718    606.054      0.404      0.686    -942.879    1432.823
start station id_420   -144.5195    471.261     -0.307      0.759   -1068.179     779.140
start station id_421   2091.4669    540.963      3.866      0.000    1031.192    3151.741
start station id_422    270.4685    289.158      0.935      0.350    -296.274     837.211
start station id_423   -246.9347    397.676     -0.621      0.535   -1026.370     532.500
start station id_426    135.7966    259.036      0.524      0.600    -371.908     643.501
start station id_427    391.1034    394.563      0.991      0.322    -382.231    1164.438
start station id_428   -113.2151    268.529     -0.422      0.673    -639.526     413.095
start station id_430    518.4888    345.661      1.500      0.134    -158.997    1195.975

## Using the `statsmodels` summary, test whether or not `age` has a significant effect when predicting `tripduration`.
- Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly **in the context of your model**!

Sorry, I have no idea how to do this, I can't recall when we did this in class.

## Citi Bike is attempting to market to people who they think will ride their bike for a long time. Based on your modeling, what types of individuals should Citi Bike market toward?